.navbar {
    width: 100%;
    height: 70px;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo {
    display: flex;
    font-size: 2.3vw;
    color: #6c4ce7;
}

.logo i {
    align-self: center;
}

.nav-link {
    display: flex;
    align-self: center;
}

.nav-link li {
    list-style: none;
}

.nav-link>li>a {
    padding: 25px 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
    transition: all 0.1s ease-in-out;
}

.nav-link>li>a:hover {
    color: #6c4ce7;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    padding: 1rem;
    z-index: 1;
    top: 3rem;
    left: 0;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all .3s ease-in-out;
}

.dropdown-content>a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease-out;
}

.dropdown-content a:hover {
    color: #6c4ce7;
    margin-left: 0.5rem;
}

.dropdown:hover .dropdown-content {
    display: block;
    transform: scaleY(1);

}

.login a {
    font-size: 1.5rem;
    padding-left: 1rem;
}